body {
    background-color: rgb(255, 68, 0);
    color: antiquewhite;
}


.importante {
    font-size: 15px;
    padding: 1em;
    border: 1px;
    width: 70%;
    transition: 1s;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 60px;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.comentario-publicitario {
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.info {
    width: 60vw;
    margin: 4em;
    display: list-item;
    justify-content: space-between
    
}

.infosucursal {
    font-size: large;
    margin-left: 4em;
    display: flex;
    flex-flow: column space-between;
}

.boton :hover {
    color: wheat;
    text-decoration: none;
}
    

.Titulo2{
    font-size: 20px;
    margin-left: 2px;
}

p {
    border: 6px solid wheat;
    width: 95vw;
    padding: 1em;
    margin-bottom: 1em;
    gap: 2em;
}

.container{
    display: flex;
    margin-top: 1.5em;
    justify-content: center;
}

#multimedia {
    width: 40%;
}

.service {
    width: 50%;  
    border-radius: 5%;
    display: flex; 
    flex-direction: column;

}

.Redes {
    border: 2px;
    width: 20%;
    margin-left: 10%;
    padding: 0.5em 0 0.5em 0;
    font-size: large;
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    align-items: center;
  }
 
.a {
    padding: 5px;
  }
  
  a:hover {
    
    color: rgb(255, 128, 0);
    text-decoration: none;
  }
  
  